#zona_contenido
{ width: 1000px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 20px;
  background: transparent url(../imagenes/transparent_light.png) repeat;} 
  
#contenido
{ text-align: left;
  width: 80%;
  padding: 0;}
  
#contenido ul
{ margin: 2px 0 22px 0px;}
  
#contenido ul li
{ list-style-type: none;
  background: url(../imagenes/bullet.png) no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

