.lateral
{ float: left;
  width: 190px;
  padding: 0 15px 20px 15px;}

.lateral ul
{ width: 178px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.lateral li
{ list-style: none; 
  padding: 0 0 7px 0; }

.lateral li a, .lateral li a:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url(../imagenes/link.png) no-repeat left center;} 

.lateral li a.selected
{ color: #444;
  text-decoration: none;}