html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2 url(../imagenes/background.png) repeat;
  color: #777;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h3 
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #007694;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #000;}

h4
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: rgb(247, 240, 240);}

a{
  text-decoration: none;
  color: #000;
}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #zona_contenido, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: #1D1D1D url(../imagenes/header.png) no-repeat;
  background-size: 100%;
}

#logo
{ width: 825px;
  position: relative;
  height: 168px;}

#logo #logo_text 
{ position: absolute; 
  top: 25px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #000;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #DDD;}

#menubar
{ width: 900px;
  height: 72px;
  padding: 0;
  background: transparent url(/imagenes/transparent_light.png) repeat;} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% arial, sans-serif;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: transparent url(../imagenes/transparent.png) repeat;}

#logout{
  background-color: rgba(255, 255, 255, 0.267);
}
  
table
{ margin: auto;}

table tr th, table tr td
{ background: #0088f8;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #94938a;
  color: #1f1a15;
  border-top: 1px solid #FFF;}