<!DOCTYPE HTML>
<html lang="es">

<head>
  <title>textured_industrial - contact us</title>
  <meta name="description" contenido="website description" />
  <meta name="keywords" contenido="website keywords, website keywords" />
  <meta http-equiv="contenido-type" contenido="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="../static/style/style.css" title="style" />
  <link rel="stylesheet" href="../static/style/Contenido.css">
  <link rel="stylesheet" href="../static/style/lateral.css">
  <link rel="stylesheet" href="../static/style/footer.css">
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="indexejemplo.html">Deustomach<span class="logo_colour">Innovation S.L.</span></a></h1>
          <h2>Gestión de Mantenimiento de Equipos</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="indexejemplo.html">Home</a></li>
          <li><a href="equipo.html">Equipo</a></li>
          <li><a href="ticket.html">Ticket</a></li>
          <li><a href="another_page.html">Another Page</a></li>
          <li class="selected"><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="zona_contenido">
      <div class="lateral">
        <!-- informacion lateral se colocara en este div -->
        <h3>Latest News</h3>
        <h4>New Website Launched</h4>
        <h5>October 1st, 2013</h5>
        <p>2013 sees the redesign of our website. Take a look around and let us know what you think.<br /><a
            href="#">Read more</a></p>
        <p></p>
        <h4>New Website Launched</h4>
        <h5>October 1st, 2013</h5>
        <p>2013 sees the redesign of our website. Take a look around and let us know what you think.<br /><a
            href="#">Read more</a></p>
        <h3>Useful Links</h3>
        <ul>
          <li><a href="#">link 1</a></li>
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
          <li><a href="#">link 4</a></li>
        </ul>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="../static/style/imganes/search.png"
              alt="Search" title="Search" />
          </p>
        </form>
      </div>
      <div id="contenido">
        <!-- el contenido principal se colocala en este div -->
        <h1>Contact Us</h1>
        <p>Below is an example of how a contact form might look with this template:</p>
        <form action="#" method="post">
          <div class="form_settings">
            <p><span>Name</span><input class="contact" type="text" name="your_name" value="" /></p>
            <p><span>Email Address</span><input class="contact" type="text" name="your_email" value="" /></p>
            <p><span>Message</span><textarea class="contact textarea" rows="8" cols="50" name="your_enquiry"></textarea>
            </p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted"
                value="submit" /></p>
          </div>
        </form>
        <p><br /><br />NOTE: A contact form such as this would require some way of emailing the input to an email
          address.</p>
      </div>
    </div>
    <div id="footer">
      <!-- El pie de la pagina se colocara en este div -->
      <div class="cuerpo-entero">
        <div class="cuerpo">
          <div class="columna1">
            <h4>
              Mas informacion de la compañia
            </h4>
            <p>
              Esta compañia se encarga del reparto de las mercancias a los clientes por medio de su propio equipo de reparto. Se asegura que no hay productos defectuosos a la hora de la entrega al cliente y pasados 24h no tiendra responsabilidad de lo que ocurra con el pedido
            </p>
          </div>

          <div class="columna2">
            <h4>
              Redes sociales
            </h4>
            <div class="fila">
              <a href="https://es-es.facebook.com/"><img src="../static/style/imganes/facebook.png" alt="facebook" width="36px" height="36px"> </a>
              <label> Siguenos en facebook</label>                                    
            </div>
            <div class="fila">                                    
              <a href="https://www.instagram.com/"><img src="../static/style/imganes/instagram.png" alt="instagram" width="36px" height="36px"> </a>
              <label> Siguenos en instagram</label>
            </div>
            <div class="fila">                                    
              <a href="https://twitter.com/?lang=es"><img src="../static/style/imganes/twitter.png" alt="twitter" width="36px" height="36px"> </a>
              <label> Siguenos en twitter</label>
            </div>   
                    
          </div>
            
          <div class="columna3">
            <h4>
              Ayuda al cliente
            </h4>

            <div class="fila2">
              <a href="https://www.google.es/maps/search/Avenida+De+los+Olmos,+n%C2%BA+1+Pab.+11B+Pol.+Ind.+01013+VITORIA/@42.8739268,-2.6518166,19.32z?hl=es"><img src="../static/style/imganes/localizador.png" alt="Dirección" width="36px" height="36px"></a>
              <label> Avenida De los Olmos, nº 1 Pab. 11B 
                Pol. Ind. 
                01013 VITORIA 
              </label>
            </div>
            <div class="fila2">
              <img src="../static/style/imganes/reloj.png" alt="Horario" width="36px" height="36px">
              <label> L-J 07:30-18:45 V 07:00-15:00 </label>
            </div>
            <div class="fila2">
              <img src="../static/style/imganes/telefono.png" alt="Telefono" width="36px" height="36px">
              <label> +34 945 274 490 </label>
            </div>
            <div class="fila2">
              <img src="../static/style/imganes/email.png" alt="Email" width="36px" height="36px">
              <label> sobreruedas@gmail.com </label>
            </div>
          </div>
        </div>                                
      </div>
    </div>
  </div>
</body>

</html>