{% extends 'base.html' %}
{% load static %}






    
{% block main %}
<div >
    <div >
        <h2>Equipo Detalle: {{ object.numerodeserie }}</h2>
        <a href="http://127.0.0.1:8000/myapp/listaEquipo/"><img class="atras" src="{% static 'imagenes/atras.png' %}" width="35px" height="35px" title="Pulsa para volver a la página anterior"></a>
        <ul>
            <li><em>Modelo</em>: <strong>{{ object.modelo }}</strong></li>
            <li><em>Marca</em>: <strong>{{ object.marca }}</strong></li>
            <li><em>Tipo</em>: <strong>{{ object.tipoequipo }}</strong></li>
            <li><em>Proveedor</em>: <strong>{{ object.proveedor_nombre }}</strong></li>
        </ul>
    </div>
</div>

{% endblock %}