{% extends 'base3.html' %}
{% load static %}
    
{% block main %}
            
      <div id="contenido">
        <!-- el contenido principal se colocala en este div -->
        <h1>Empleado</h1>
        <a href="http://127.0.0.1:8000/myapp/createEmpleado/" class="crear" > <img src="{% static 'imagenes/mas.png' %}" width="35px"></a>
        <table>
          <thead>
            <tr>
                <th class="cabecera">Nombre</th>
                <th class="cabecera">Apellidos</th>
                <th class="cabecera">Email</th>
                <th class="cabecera">Telefono</th>
                <th class="cabecera">DNI</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {% for empleado in object_list %}
            <tr>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellidos}}</td>
                <td>{{ empleado.email }}</td>
                <td>{{ empleado.telefono }}</td>
                <td>{{ empleado.dni }}</td>
                <td>
                  <a href="{% url 'reto:DeleteEmpleado' empleado.id %}"><img src="{% static 'imagenes/basura.png' %}" width="20px" height="20pxs"> Eliminar</a>
                  <a href="{% url 'reto:DetailEmpleado' empleado.id %}"> <img src="{% static 'imagenes/search.png' %}" width="20px" height="20pxs"> Info</a>
                  <a href="{% url 'reto:UpdateEmpleado' empleado.id %}"> <img src="{% static 'imagenes/editar.png' %}" width="20px" height="20pxs"> Editar</a>
                </td>
                  
            </tr>
            {% endfor %}

            {% else %}
            <h1>No hay empleados dados de alta en la base de datos</h1>

            {% endif %}
        </tbody>
        </table>
      </div>
{% endblock %}
