{% extends 'base.html' %}
{% load static %}






    
{% block main %}
     
      <div id="contenido">
        <!-- el contenido principal se colocala en este div -->
        <h1>Equipo</h1>
        <a href="http://127.0.0.1:8000/myapp/createEquipo/" class="crear" ><img src="{% static 'imagenes/mas.png' %}" width="35px"></a>
        <table>
          <thead>
            <tr>
                <th class="cabecera">Número de Serie</th>
                <th class="cabecera">Tipo</th>
                <th class="cabecera">Nombre del proveedor</th>
                <th class="cabecera">Telefono del proveedor</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {% for equipo in object_list %}
            <tr>
                <td>{{ equipo.numerodeserie }}</td>
                <td>{{ equipo.tipoequipo}}</td>
                <td>{{ equipo.proveedor_nombre }}</td>
                <td>{{ equipo.proveedor_tlf }}</td>
                <td><a href="{% url 'reto:DeleteEquipo' equipo.id %}"><img src="{% static 'imagenes/basura.png' %}" width="20px" height="20pxs"> Eliminar</a>
                  <a href="{% url 'reto:DetailEquipo' equipo.id %}"><img src="{% static 'imagenes/search.png' %}" width="20px" height="20pxs"> Info</a>
                  <a href="{% url 'reto:UpdateEquipo' equipo.id %}"> <img src="{% static 'imagenes/editar.png' %}" width="20px" height="20pxs"> Editar</a>
                </td>
                  
            </tr>
            {% endfor %}

            {% else %}
            <h1>No hay proyectos disponibles</h1>

            {% endif %}
        </tbody>
        </table>
      </div>
{% endblock %}
   
  
