{% extends 'base2.html' %}
{% load static %}






    
{% block main %}
     
      <div id="contenido">
        <!-- el contenido principal se colocala en este div -->
        <h1>Ticket</h1>
        <a href="http://127.0.0.1:8000/myapp/createTicket/" class="crear" > <img src="{% static 'imagenes/mas.png' %}" width="35px"> </a>
        <table>
          <thead>
            <tr>
                <th class="cabecera">Número de referencia</th>
                <th class="cabecera">Titulo</th>
                <th class="cabecera">Fecha de apertura</th>
                <th class="cabecera">Fecha de resolución</th>
                <th class="cabecera">Nivel de urgencia</th>
                <th class="cabecera">Tipo de ticket</th>
                <th class="cabecera">Estado del ticket</th>
                <th class="cabecera">Descripción</th>
                <th class="cabecera">Comentario</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
            {% for ticket in object_list %}
            <tr>
                <td>{{ ticket.numeroreferencia }}</td>
                <td>{{ ticket.titulo}}</td>
                <td>{{ ticket.fecha_apertura }}</td>
                <td>{{ ticket.fecha_resolucion }}</td>
                <td>{{ ticket.nivel_urgencia }}</td>
                <td>{{ ticket.tipo_ticket }}</td>
                <td>{{ ticket.estado_ticket }}</td>
                <td>{{ ticket.descripcion }}</td>
                <td>{{ ticket.comentario }}</td>
                <td><a href="{% url 'reto:DeleteTicket' ticket.id %}"><img src="{% static 'imagenes/basura.png' %}" width="20px" height="20pxs"> Eliminar </a>
                  <a href="{% url 'reto:DetailTicket' ticket.id %}"> <img src="{% static 'imagenes/search.png' %}" width="20px" height="20pxs"> Info </a> <br>
                  <a href="{% url 'reto:UpdateTicket' ticket.id %}"> <img src="{% static 'imagenes/editar.png' %}" width="20px" height="20pxs"> Editar</a>
                </td>
                  
            </tr>
            {% endfor %}

            {% else %}
            <h1>No hay tickets disponibles actualmente</h1>

            {% endif %}
        </tbody>
        </table>
      </div>
{% endblock %}
